/* general Style */
:root {
  --MainOrange: rgb(238, 174, 70);
  --white: #ffffff;
  --lineColor: #8b2626;
}
a {
  text-decoration: none;
  font-family: monospace;
}
.p__font {
  font-family: cursive;
}
.bgClor {
  background-color: #99c0e0;
}
.bgClor2 {
  background-color: #eee2dc;
}
.p__clr {
  color: #123c69;
}
/* line below headers*/
.head__line:after,
.second__line:after {
  content: "";
  display: block;
  width: 5%;
  margin: 1rem 0;
  height: 2px;
  background-color: var(--lineColor);
  transition: width 0.5s;
}
.second__line::after {
  margin: 1rem auto;
}
.headAnimate:hover .second__line::after {
  width: 20%;
  border-radius: 0 5px 5px 0;
}
.headAnimate:hover .head__line::after {
  width: 10%;
  border-radius: 0 5px 5px 0;
}
/*general header style */
.header__style h2 {
  font-family: "Titillium Web", sans-serif;
  /* font-size: 2.4rem; */
  font-weight: 300;
}

/* gereral main body style */
.body__style h3 {
  font-family: "Titillium Web", sans-serif;
}
.body__style ul span {
  color: rgb(102, 143, 255);
  font-weight: 600;
}

.body__style ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
/*start index style*/

/* start nav */
.navbar-custom {
  background-color: rgb(47, 47, 47);
}
.navbar-collapse {
  flex-direction: row-reverse;
}
.main__nav .nav-item .nav-link {
  color: var(--MainOrange);
}
/* end nav */

/* start header */
.main__header {
  background-image: linear-gradient(
    to left,
    #27303d,
    #253347,
    #223650,
    #1e385a,
    #1a3b64
  );
  color: var(--MainOrange);
}
.main__header .container {
  min-height: 80vh;
}
.main__header__describe h4 {
  font-family: "Titillium Web", sans-serif;
}
.main__header__describe h2 {
  font-size: 3rem;
  font-family: "Titillium Web", sans-serif;
}
/* header text animation */
@media (min-width: 769px) {
  .textWriteAnimate h4 {
    overflow: hidden;
    border-right: 0.15rem solid rgb(238, 174, 70);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1rem;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(238, 174, 70);
    }
  }
}
.portfolio__btn {
  background-color: rgb(51, 51, 51);
  border: 1px solid #99c0e0;
  color: #99c0e0;
  display: inline-block;
  min-width: 30%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: monospace;
  transition: 1s;
}
.portfolio__btn:hover {
  background-color: #4f88b6;
  font-weight: 700;
  /* border-radius: 1.5rem; */
}
/* End Header */
.info__body {
  display: flex;
  justify-content: space-between;
}
/* start skills */
.skills__body ul li {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 10px;
  color: rgb(29, 20, 68);
  flex-basis: 25%;
  min-width: 150px;
}
/* end skills */
/* end index page */

/* portfolio page */
.skill__cards__wrapper {
  border-radius: 2rem 2rem 2rem 0rem;
  border: 3px solid #f0e3ca;
}
.skill__cards__wrapper:hover svg {
  transform: scale(1.4) rotate(20deg);
}
.skill__cards__wrapper h3 {
  border-radius: 2rem 2rem 2rem 0rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  color: #f0e3ca;
}
.skill__cards__wrapper svg {
  color: #ff8303;
  transition: 1s;
}
/* end skills */
/* start describe cards */
.describe .shadow {
  opacity: 50%;
  font-size: 3rem;
}
.describe .shadow .animate1 {
  font-size: 8rem;
  animation: rotateSpan 3s infinite alternate;
}
.describe .shadow .animate2 {
  margin-left: -20px;
  animation: pumb 3s infinite alternate;
}
@keyframes rotateSpan {
  0% {
  }
  100% {
    transform: rotate(360deg) scale(1.2) translate(0px, 20px);
  }
}
@keyframes pumb {
  0% {
    transform: translate(0px, -30px);
  }
  100% {
    transform: translate(27px, 50px);
  }
}
/* end describe cards */
.project__link,
.project__link2 {
  background-color: #ff5151;
  color: white;
  padding: 1rem;
  display: inline-block;
  border-radius: 2rem 0px 0px 2rem;
  transition: 0.5s;
  font-weight: 700;
}
.project__link2 {
  padding: 0.7rem 1rem;
  border-radius: 0px 2rem 2rem 0px;
  background-color: rgb(0, 0, 0);
}
.project__link2:hover {
  background-color: rgb(54, 54, 54);
  padding-left: 3rem;
  color: rgb(177, 177, 177);
}
.project__link:hover {
  padding-right: 3rem;
  color: rgb(204, 204, 204);
  background-color: #c82e2e;
}
.header__bg__clr {
  background-image: linear-gradient(
    to bottom,
    #1b262c,
    #232f35,
    #2b383e,
    #334147,
    #3c4a51
  );
  color: #ffffff;
}

/*start project cards */
.body__bg__clr {
  background-image: linear-gradient(
    to top,
    #000000,
    #111010,
    #1b1b1a,
    #252524,
    #2f2f2e
  );
}

/*start general project cards style */
.card__bg__clr {
  background-color: #3c4a51;
}
.card__bg__clr2 {
  background-color: #1b262c;
}
.card__style {
  border-radius: 0rem 2rem 2rem 2rem;
  color: rgb(255, 255, 255);
  min-height: 300px;
  transition: 2s;
}

/*end general project cards style */
.projects header h2 {
  color: white;
}
.project__card {
  position: relative;
}
.project__card:hover .card__style {
  box-shadow: 11px 10px 30px -2px rgba(255, 255, 255, 0.45);
}
.project__card:hover .card__header {
  top: -10px;
  opacity: 1;
}
.project__card .card__header {
  transition: 2s;
  position: absolute;
  opacity: 0.1;
  top: 5px;
  padding: 5px 10px;
  left: 25px;
  background-color: white;
  color: black;
  border-radius: 5px 5px 5px 0px;
}
/* top button */
#top__page {
  display: none;
  opacity: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 50;
  border: none;
  outline: none;
  background-color: rgb(184, 51, 51);
  color: rgb(209, 209, 209);
  cursor: pointer;
  padding: 5px;
  border-radius: 3rem;
  transition: 2s;
}

#top__page:hover {
  background-color: rgb(0, 0, 0);
  opacity: 1;
}
/* animation */
.text-animation {
  animation: text-move 3s;
}
@keyframes text-move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(40px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* media */
@media (max-width: 576px) {
  .header__style h2 {
    text-align: center;
  }
  .head__line:after,
  .second__line:after {
    margin: 1rem auto;
  }
  .skills__body ul li {
    flex-wrap: wrap;
    gap: 5px;
    color: rgb(29, 20, 68);
    flex-basis: 50%;
  }
  .project__card .card__header {
    top: -10px;
    opacity: 1;
  }
}
